<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail
        (order_id, dish_id, setmeal_id, dish_flavor, number, amount, image, name)
        values
        <foreach collection="orderDetailList" item="detail" separator=",">
            (#{detail.orderId},
            #{detail.dishId},
            #{detail.setmealId},
            #{detail.dishFlavor},
            #{detail.number},
            #{detail.amount},
            #{detail.image},
            #{detail.name})
        </foreach>
    </insert>
    <select id="listByOrderId" resultType="com.sky.entity.OrderDetail">
        select * from order_detail where order_id = #{id}
    </select>
</mapper>